<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{% block title %}Voorraadcie.nl{% endblock %}</title>
	<link rel="stylesheet" href="base.css" type="text/css" media="all" charset="utf-8" />
	<script type="text/javascript" language="javascript" charset="utf-8" src="jquery.min.js"></script>
	{% block head %}{% endblock %}
</head>
<body>
	<div id="pageWrapper">
		<div id="content">
			{% block content %}{% endblock %}
		</div>
	</div>
</body>
</html>
