{# vim: set noet ts=4 sw=4: #}
<!DOCTYPE html>
<html>
<head>
{% block head %}
{# leave <meta> Content-Type as the first <head> tag, because of loading speed #}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}voorraadcie.nl{% endblock %}</title>
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all" charset="utf-8">
	<style type="text/css">
{% block style %}
body {
	padding-top: 40px;
}
a.brand {
	font-variant: small-caps;
}
.container-narrow {
	max-width: 700px;
	margin: 0 auto;
}
{% endblock %}
	</style>
{% endblock %}
</head>
<body>
	 <div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container container-narrow">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href=".">voorraadcie.nl</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li><a href="reserveren.php">Reserveren</a></li>
						<li><a href="agenda.php">Onze agenda</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<div id="content" class="container container-narrow">
		{% block content %}{% endblock %}
	</div>
	<hr>
	{% block scripts %}
		<script type="text/javascript" language="javascript" charset="utf-8" src="js/jquery.min.js"></script>
		<script type="text/javascript" language="javascript" charset="utf-8" src="js/bootstrap.min.js"></script>
	{% endblock %}
</body>
</html>
