{% extends 'base.html' %}

{% block title %}
Voorraadcie.nl
{% endblock %}

{% block content %}
<h1>VOORRAADCIE.NL</h1>
	<p style="color: white; font-style: italic; font-size: 20pt;">Of, in de wijze woorden uit 2006:</p>
	<h2>"Mocht je onverhoopt Olympus-bestuurslid zijn, dan willen we hierbij ons medeleven uiten, en tevens onze excuses aanbieden voor alle beledigingen die we in de nabije toekomst zullen maken aan jullie adres."</h2>
	<h3><a href="reserveren.php">Reservering plaatsen</a></h3>
{% endblock %}
