{# vim: set noet ts=4 sw=4: #}
{% extends 'base.html' %}

{% block content %}
<div class="hero-unit" style="margin-top: 20px;">
	<h1 style="font-family: monospace;">voorraadcie<small>.nl</small></h1>
	<h2><a class="btn btn-large btn-primary" href="reserveren.php">Place reservation</a></h2>
</div>
{% endblock %}

{% block footer %}
		<blockquote class="blockquote-reverse" title="This is a literal quote. We are not going to translate this.">
		<p>
		"Mocht je onverhoopt Olympus-bestuurslid zijn, dan willen we hierbij ons
		medeleven uiten, en tevens onze excuses aanbieden voor alle beledigingen
		die we in de nabije toekomst zullen maken aan jullie adres."
		</p>
		<footer>De Voorraadcommissie, 2006</footer>
		</blockquote>
{% endblock %}
