{# vim: set noet ai ts=4 sw=4: #}
{% extends 'base.html' %}

{% block title %}
{{ parent() }} - reservering plaatsen
{% endblock %}

{% block style %}
{{ parent() }}
form .control-group{
	margin: 3px 0 !important;
}
#beginTijd, #eindTijd {
	width: 3.25em;
}

#beginTijd, #eindTijd, #dag, #maand, #jaar {
	text-align: center;
}
#dag, #maand {
	width: 2.5em;
}
#jaar {
	width: 4em;
}
{% endblock %}

{% block scripts %}
{{ parent() }}
<script type="text/javascript">
$(document).ready(function _vcieReadyHandler() {
  WINE_SCALES = {
    rodeWijn: 171.0/210.0,
    witteWijnZoet: 142.0/210.0,
    witteWijnDroog: 1.0,
    rose: 76.0/210.0
  };
  WINE_PRODUCTS = [];
  for (var product in WINE_SCALES) WINE_PRODUCTS.push(product);
  FRIS_SCALES = {
    colaRegular: 1.0,
    colaLight: 134.0/506.0,
    fanta: 254.0/506.0,
    sprite: 143.0/506.0,
    spaRood: 68.0/506.0,
    appelsap: 157.0/506.0,
    sinaasappelsap: 250.0/506.0,
    cassis: 173.0/506.0,
    iceTeaSparkling: 200.0/506.0,
    iceTeaNoBubbles: 92.0/506.0
  };
  FRIS_PRODUCTS = [];
  for (var product in FRIS_SCALES) FRIS_PRODUCTS.push(product);

  $("#wijnShortcutPlus").click(function _vcieClickHandler(e) {
    if (e.ctrlKey) vcieAddToProducts(WINE_PRODUCTS, WINE_SCALES, 5);
    else vcieAddToProducts(WINE_PRODUCTS, WINE_SCALES, 1);
  });
  $("#wijnShortcutMin").click(function _vcieClickHandler(e) {
    if (e.ctrlKey) vcieAddToProducts(WINE_PRODUCTS, WINE_SCALES, -5);
    else vcieAddToProducts(WINE_PRODUCTS, WINE_SCALES, -1);
  });
  $("#frisShortcutPlus").click(function _vcieClickHandler(e) {
    if (e.ctrlKey) vcieAddToProducts(FRIS_PRODUCTS, FRIS_SCALES, 5);
    else vcieAddToProducts(FRIS_PRODUCTS, FRIS_SCALES, 1);
  });
  $("#frisShortcutMin").click(function _vcieClickHandler(e) {
    if (e.ctrlKey) vcieAddToProducts(FRIS_PRODUCTS, FRIS_SCALES, -5);
    else vcieAddToProducts(FRIS_PRODUCTS, FRIS_SCALES, -1);
  });
});
</script>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>Reserveren</h1>
</div>

<p>Reserveringen moet je minimaal drie weken van tevoren plaatsen. Mocht dit niet gelukt zijn, dan kun je het alsnog proberen. Het zit er dan wel dik in dat je reservering geweigerd wordt.</p>

<p>Voor hele speciale verzoeken of bestellingen, zoals bij constitutieborrels, festivals of grote beurzen wil je een e-mailtje sturen naar <tt>{{ email("olympusreservering@science.ru.nl")|raw }}</tt>. In alle andere gevallen kun je het formulier invullen.</p>

<form class="form-horizontal" action="reserveren.php" method="post">
{{ csrf_token_tag|raw }}

<fieldset>
	<legend>Algemeen</legend>

	{# naam #}
	<div class="control-group{% if errors.naam %} error{% endif %}">
		<label class="control-label" for="naam">Naam</label>
		<div class="controls">
			<input id="naam" type="text" name="naam" value="{{ formdata.naam }}" placeholder="naam" required>
			{% if errors.naam %}<span class="help-inline">{{ errors.naam|join|raw }}</span>{% endif %}
		</div>
	</div>

	{# email #}
	<div class="control-group{% if errors.krattenBier %} email{% endif %}">
		<label class="control-label" for="email">Email</label>
		<div class="controls">
			<input id="email" type="email" name="email" value="{{ formdata.email }}" placeholder="email" required>
			{% if errors.email %}<span class="help-inline">{{ errors.email|join|raw }}</span>{% endif %}
		</div>
	</div>

	{# datum #}
	<div class="control-group{% if errors.krattenBier %} maand{% endif %}">
		<label class="control-label" for="dag">Datum <small>(dag &ndash; maand &ndash; jaar)</small></label>
		<div class="controls">
			<input id="dag" type="number" name="dag" value="{{ formdata.dag }}" required> &ndash;
			<input id="maand" type="number" name="maand" value="{{ formdata.maand|default("+7 days"|date("m")) }}" required> &ndash;
			<input id="jaar" type="number" name="jaar" value="{{ formdata.jaar|default("+7 days"|date("Y")) }}" required>
			{% if errors.email %}<span class="help-inline">
				{% if errors.dag %}{{ errors.dag|join|raw }}{% endif %}
				{% if errors.maand %}{% if errors.dag %}, {% endif %}{{ errors.maand|join|raw }}{% endif %}
				{% if errors.jaar %}{% if errors.maand %}, {% endif %}{{ errors.jaar|join|raw }}{% endif %}
			</span>{% endif %}
		</div>
	</div>

	{# begin-/eindtijd #}
	<div class="control-group{% if errors.beginTijd or errors.eindTijd %} error{% endif %}">
		<label class="control-label" for="beginTijd">Begin-/eindtijd</label>
		<div class="controls">
			van
			<input id="beginTijd" name="beginTijd" type="text" maxlength="5" value="{{ formdata.beginTijd|default('16:00') }}" required />
			tot
			<input id="eindTijd" name="eindTijd" type="text" maxlength="5" value="{{ formdata.eindTijd|default('21:00') }}" required />
			{% spaceless %}
			<div class="help-inline">
				{% if errors.beginTijd %}{{ errors.beginTijd|join|raw }}
				{% elseif errors.eindTijd %}{{ errors.eindTijd|join|raw }}
				{% endif %}
			</div>
			{% endspaceless %}
		</div>
	</div>

	{# gelegenheid #}
	<div class="control-group{% if errors.gelegenheid %} error{% endif %}">
		<label class="control-label" for="gelegenheid">Gelegenheid</label>
		<div class="controls">
			<input id="gelegenheid" type="text" name="gelegenheid" value="{{ formdata.gelegenheid }}" placeholder="gelegenheid" required>
			{% if errors.gelegenheid %}<span class="help-inline">{{ errors.gelegenheid|join|raw }}</span>{% endif %}
		</div>
	</div>

	{# vereniging #}
	<div class="control-group{% if errors.vereniging %} error{% endif %}">
		<label class="control-label" for="vereniging">Vereniging <small>(of afdeling ofzo)</small></label>
		<div class="controls">
			<input class="typeahead" id="vereniging" type="text" name="vereniging" value="{{ formdata.vereniging }}" placeholder="vereniging" required
			data-provide="typeahead" data-source='["Sigma", "Beevee", "Thalia", "Marie Curie", "Leonardo", "Desda", "Olympus", "CognAC"]'>
			{% if errors.vereniging %}<span class="help-inline">{{ errors.vereniging|join|raw }}</span>{% endif %}
		</div>
	</div>

	{# kantine #}
	<div class="control-group{% if errors.kantine %} error{% endif %}">
		<label class="control-label" for="kantine">Kantine</label>
		<div class="controls">
			<select id="kantine" name="kantine">
				<option value=""{% if formdata.kantine == '' %} selected{% endif %}>geen</option>
				<option value="zuidkantine"{% if formdata.kantine == 'zuid' %} selected{% endif %}>Zuid</option>
				<option value="noordkantine"{% if formdata.kantine == 'noord' %} selected{% endif %}>Noord</option>
			</select>
			{% if errors.kantine %}<span class="help-inline">{{ errors.kantine|join|raw }}</span>{% endif %}
		</div>
	</div>

	{# opmerkingen #}
	<div class="control-group{% if errors.opmerkingen %} error{% endif %}">
		<label class="control-label" for="opmerkingen">Opmerkingen</label>
		<div class="controls">
			<textarea id="opmerkingen" name="opmerkingen" placeholder="opmerkingen" cols="40">{{ formdata.opmerkingen }}</textarea>
			{% if errors.opmerkingen %}<span class="help-inline">{{ errors.opmerkingen|join|raw }}</span>{% endif %}
		</div>
	</div>
</fieldset>
<fieldset>
	<legend>Drank en snacks <small>(vul getallen in)</small></legend>

	{# krattenBier #}
	<div class="control-group{% if errors.krattenBier %} error{% endif %}">
		<label class="control-label" for="krattenBier">Kratten bier</label>
		<div class="controls">
			<input class="span1" id="krattenBier" type="text" name="krattenBier" value="{{ formdata.krattenBier }}" min="0" >
			{% if errors.krattenBier %}<span class="help-inline">{{ errors.krattenBier|join|raw }}</span>{% endif %}
		</div>
	</div>

	{# voorkeurVoorGrolschBeugels #}
	<div class="control-group{% if errors.voorkeurVoorGrolschBeugels %} error{% endif %}">
		<label class="control-label" for="voorkeurVoorGrolschBeugels">Ik wil graag beugels</label>
		<div class="controls">
			<input id="voorkeurVoorGrolschBeugels" type="checkbox">
			{% if errors.voorkeurVoorGrolschBeugels %}<span class="help-inline">
				{{ errors.voorkeurVoorGrolschBeugels|join|raw }}
			</span>{% else %}
			<span id="voorkeurVoorGrolschBeugels_help" class="help-inline">Let wel: we garanderen niks!</span>
			{% endif %}
		</div>
	</div>

	<legend>
		<small>
			Wijn
			(shortcut:
				<div class="btn-group">
					<span class="btn btn-mini" id="wijnShortcutMin">&#8722;1</span>
					<span class="btn btn-mini btn-primary" id="wijnShortcutPlus">+1</span>
				</div>
			)
		</small>
	</legend>

	{# rodeWijn #}
	<div class="control-group{% if errors.rodeWijn %} error{% endif %} wijn">
		<label class="control-label" for="rodeWijn">Rode wijn</label>
		<div class="controls">
			<input class="span1" id="rodeWijn" type="text" name="rodeWijn" value="{{ formdata.rodeWijn }}" min="0" >
			{% if errors.rodeWijn %}<span class="help-inline">{{ errors.rodeWijn|join|raw }}</span>{% endif %}
		</div>
	</div>

	{# witteWijnZoet #}
	<div class="control-group{% if errors.witteWijnZoet %} error{% endif %} wijn">
		<label class="control-label" for="witteWijnZoet">Witte wijn (zoet)</label>
		<div class="controls">
			<input class="span1" id="witteWijnZoet" type="text" name="witteWijnZoet" value="{{ formdata.witteWijnZoet }}" min="0" >
			{% if errors.witteWijnZoet %}<span class="help-inline">{{ errors.witteWijnZoet|join|raw }}</span>{% endif %}
		</div>
	</div>

	{# witteWijnDroog #}
	<div class="control-group{% if errors.witteWijnDroog %} error{% endif %} wijn">
		<label class="control-label" for="witteWijnDroog">Witte wijn (droog)</label>
		<div class="controls">
			<input class="span1" id="witteWijnDroog" type="text" name="witteWijnDroog" value="{{ formdata.witteWijnDroog }}" min="0" >
			{% if errors.witteWijnDroog %}<span class="help-inline">{{ errors.witteWijnDroog|join|raw }}</span>{% endif %}
		</div>
	</div>

	{# rose #}
	<div class="control-group{% if errors.rose %} error{% endif %} wijn">
		<label class="control-label" for="rose">Ros&eacute;</label>
		<div class="controls">
			<input class="span1" id="rose" type="text" name="rose" value="{{ formdata.rose }}" min="0" >
			{% if errors.rose %}<span class="help-inline">{{ errors.rose|join|raw }}</span>{% endif %}
		</div>
	</div>

	<legend>
		<small>
			Fris
			(shortcut:
				<div class="btn-group">
					<span class="btn btn-mini" id="frisShortcutMin">&#8722;1</span>
					<span class="btn btn-mini btn-primary" id="frisShortcutPlus">+1</span>
				)
				</div>
			)
		</small>
	</legend>

	{# colaRegular #}
	<div class="control-group{% if errors.colaRegular %} error{% endif %} fris">
		<label class="control-label" for="colaRegular">Cola regular</label>
		<div class="controls">
			<input class="span1" id="colaRegular" type="text" name="colaRegular" value="{{ formdata.colaRegular }}" min="0" >
			{% if errors.colaRegular %}<span class="help-inline">{{ errors.colaRegular|join|raw }}</span>{% endif %}
		</div>
	</div>

	{# colaLight #}
	<div class="control-group{% if errors.colaLight %} error{% endif %} fris">
		<label class="control-label" for="colaLight">Cola light</label>
		<div class="controls">
			<input class="span1" id="colaLight" type="text" name="colaLight" value="{{ formdata.colaLight }}" min="0" >
			{% if errors.colaLight %}<span class="help-inline">{{ errors.colaLight|join|raw }}</span>{% endif %}
		</div>
	</div>

	{# fanta #}
	<div class="control-group{% if errors.fanta %} error{% endif %} fris">
		<label class="control-label" for="fanta">Fanta</label>
		<div class="controls">
			<input class="span1" id="fanta" type="text" name="fanta" value="{{ formdata.fanta }}" min="0" >
			{% if errors.fanta %}<span class="help-inline">{{ errors.fanta|join|raw }}</span>{% endif %}
		</div>
	</div>

	{# sprite #}
	<div class="control-group{% if errors.sprite %} error{% endif %} fris">
		<label class="control-label" for="sprite">Sprite</label>
		<div class="controls">
			<input class="span1" id="sprite" type="text" name="sprite" value="{{ formdata.sprite }}" min="0" >
			{% if errors.sprite %}<span class="help-inline">{{ errors.sprite|join|raw }}</span>{% endif %}
		</div>
	</div>

	{# spaRood #}
	<div class="control-group{% if errors.spaRood %} error{% endif %} fris">
		<label class="control-label" for="spaRood">Spa rood</label>
		<div class="controls">
			<input class="span1" id="spaRood" type="text" name="spaRood" value="{{ formdata.spaRood }}" min="0" >
			{% if errors.spaRood %}<span class="help-inline">{{ errors.spaRood|join|raw }}</span>{% endif %}
		</div>
	</div>

	{# appelsap #}
	<div class="control-group{% if errors.appelsap %} error{% endif %} fris">
		<label class="control-label" for="appelsap">Appelsap</label>
		<div class="controls">
			<input class="span1" id="appelsap" type="text" name="appelsap" value="{{ formdata.appelsap }}" min="0" >
			{% if errors.appelsap %}<span class="help-inline">{{ errors.appelsap|join|raw }}</span>{% endif %}
		</div>
	</div>

	{# sinaasappelsap #}
	<div class="control-group{% if errors.sinaasappelsap %} error{% endif %} fris">
		<label class="control-label" for="sinaasappelsap">Sinaasappelsap</label>
		<div class="controls">
			<input class="span1" id="sinaasappelsap" type="text" name="sinaasappelsap" value="{{ formdata.sinaasappelsap }}" min="0" >
			{% if errors.sinaasappelsap %}<span class="help-inline">{{ errors.sinaasappelsap|join|raw }}</span>{% endif %}
		</div>
	</div>

	{# cassis #}
	<div class="control-group{% if errors.cassis %} error{% endif %} fris">
		<label class="control-label" for="cassis">Cassis</label>
		<div class="controls">
			<input class="span1" id="cassis" type="text" name="cassis" value="{{ formdata.cassis }}" min="0" >
			{% if errors.cassis %}<span class="help-inline">{{ errors.cassis|join|raw }}</span>{% endif %}
		</div>
	</div>

	{# iceTeaSparkling #}
	<div class="control-group{% if errors.iceTeaSparkling %} error{% endif %} fris">
		<label class="control-label" for="iceTeaSparkling">Ice tea (sparkling)</label>
		<div class="controls">
			<input class="span1" id="iceTeaSparkling" type="text" name="iceTeaSparkling" value="{{ formdata.iceTeaSparkling }}" min="0" >
			{% if errors.iceTeaSparkling %}<span class="help-inline">{{ errors.iceTeaSparkling|join|raw }}</span>{% endif %}
		</div>
	</div>

	{# iceTeaNoBubbles #}
	<div class="control-group{% if errors.iceTeaNoBubbles %} error{% endif %} fris">
		<label class="control-label" for="iceTeaNoBubbles">Ice tea (no bubbles)</label>
		<div class="controls">
			<input class="span1" id="iceTeaNoBubbles" type="text" name="iceTeaNoBubbles" value="{{ formdata.iceTeaNoBubbles }}" min="0" >
			{% if errors.iceTeaNoBubbles %}<span class="help-inline">{{ errors.iceTeaNoBubbles|join|raw }}</span>{% endif %}
		</div>
	</div>

	{# rioFiestaMix #}
	<div class="control-group{% if errors.rioFiestaMix %} error{% endif %}">
		<label class="control-label" for="rioFiestaMix">Rio fiesta mix <small>(1 kg)</small></label>
		<div class="controls">
			<input class="span1" id="rioFiestaMix" type="text" name="rioFiestaMix" value="{{ formdata.rioFiestaMix }}" min="0" >
			{% if errors.rioFiestaMix %}<span class="help-inline">{{ errors.rioFiestaMix|join|raw }}</span>{% endif %}
		</div>
	</div>

	{# AHCocktailNoten #}
	<div class="control-group{% if errors.AHCocktailNoten %} error{% endif %}">
		<label class="control-label" for="AHCocktailNoten">Cocktail noten</label>
		<div class="controls">
			<input class="span1" id="AHCocktailNoten" type="text" name="AHCocktailNoten" value="{{ formdata.AHCocktailNoten }}" min="0" >
			{% if errors.AHCocktailNoten %}<span class="help-inline">{{ errors.AHCocktailNoten|join|raw }}</span>{% endif %}
		</div>
	</div>

	{# stapelglazen #}
	<div class="control-group{% if errors.stapelglazen %} error{% endif %}">
		<label class="control-label" for="stapelglazen">Krat stapelglazen</label>
		<div class="controls">
			<input class="span1" id="stapelglazen" type="text" name="stapelglazen" value="{{ formdata.stapelglazen }}" min="0">
			{% if errors.stapelglazen %}<span class="help-inline">{{ errors.stapelglazen|join|raw }}</span>{% endif %}
		</div>
	</div>

	{# wijnglazen #}
	<div class="control-group{% if errors.wijnglazen %} error{% endif %}">
		<label class="control-label" for="wijnglazen">Krat wijnglazen</label>
		<div class="controls">
			<input class="span1" id="wijnglazen" type="text" name="wijnglazen" value="{{ formdata.wijnglazen }}" min="0">
			{% if errors.wijnglazen %}<span class="help-inline">{{ errors.wijnglazen|join|raw }}</span>{% endif %}
		</div>
	</div>
</fieldset>
<fieldset>
<legend>Extra's</legend>

	{# muziekkastsleutel #}
	<div class="control-group{% if errors.muziekkastsleutel %} error{% endif %}">
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" name="muziekkastsleutel" {% if formdata.muziekkastsleutel %} checked{% endif %}>
				muziekkastsleutel
			</label>
		</div>
	</div>

	{# statafels #}
	<div class="control-group{% if errors.statafels %} error{% endif %}">
		<label class="control-label" for="statafels">Statafels</label>
		<div class="controls">
			<input class="span1" id="statafels" type="text" name="statafels" value="{{ formdata.statafels }}" min="0">
			{% if errors.statafels %}<span class="help-inline">{{ errors.statafels|join|raw }}</span>
			{% else %}<span class="help-inline">(we hebben er in totaal 9)</span>{% endif %}
		</div>
	</div>

	{# kookplaten #}
	<div class="control-group{% if errors.kookplaten %} error{% endif %}">
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" name="kookplaten" {% if formdata.kookplaten %} checked{% endif %}>
				kookplaten
			</label>
		</div>
	</div>

	{# pannen #}
	<div class="control-group{% if errors.pannen %} error{% endif %}">
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" name="pannen" {% if formdata.pannen %} checked{% endif %}>
				pannen
			</label>
		</div>
	</div>

	{# warmhoudbakken #}
	<div class="control-group{% if errors.warmhoudbakken %} error{% endif %}">
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" name="warmhoudbakken" {% if formdata.warmhoudbakken %} checked{% endif %}>
				warmhoudbakken
			</label>
		</div>
	</div>

	{# brandpasta #}
	<div class="control-group{% if errors.brandpasta %} error{% endif %}">
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" name="brandpasta" {% if formdata.brandpasta %} checked{% endif %}>
				brandpasta
			</label>
		</div>
	</div>

	{# steekwagen #}
	<div class="control-group{% if errors.steekwagen %} error{% endif %}">
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" name="steekwagen" {% if formdata.steekwagen %} checked{% endif %}>
				steekwagen
			</label>
		</div>
	</div>
</fieldset>

<div class="control-group">
	<div class="controls">
		<input class="btn btn-primary btn-large" type="submit" name="submit" value="verstuur reservering">
	</div>
</div>

</form>
{% endblock %}
