{# vim: set noet ts=4 sw=4: #}
{% extends 'base.html' %}

{% block title %}
{{ parent() }} - reservering bevestigen
{% endblock %}

{% block content %}

<h2>Reservering bevestigen</h2>

<p>De volgende email zal gestuurd worden, al er iets niet klopt kun je de terugknop van je browser spammen.</p>

<pre>
{% include 'reserveren_email.txt' %}
</pre>

<form action="reserveren.php" method="post">
	{{ csrf_token_tag|raw }}
	<input type="hidden" name="confirm">
	{% for item in ['naam', 'email', 'dag', 'maand', 'jaar', 'beginTijd', 'eindTijd', 'gelegenheid', 'vereniging', 'kantine', 'inventarisborrel', 'opmerkingen', 'krattenBier', 'rodeWijn', 'witteWijnZoet', 'witteWijnDroog', 'rose', 'colaRegular', 'colaLight', 'fanta', 'sprite', 'spaRood', 'appelsap', 'sinaasappelsap', 'cassis', 'iceTeaSparkling', 'iceTeaNoBubbles', 'rioFiestaMix', 'AHCocktailNoten', 'stapelglazen', 'wijnglazen', 'muziekkastsleutel', 'statafels', 'kookplaten', 'pannen', 'warmhoudbakken', 'brandpasta', 'steekwagen'] %}
	<input type="hidden" name="{{ item }}" value="{{ formdata[item] }}">
	{% endfor %}
		<label class="checkbox"><em>
		Stuur mij een kopie
		<input type="checkbox" name="ccmij" checked>
	</em></label>
	<input class="btn btn-primary btn-large" type="submit" name="submit" value="Reservering bevestigen">
</form>

{% endblock %}
